* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;

  /*farben*/
  --weiss: #ffffff;
  --Navigation: #434646;
  --Rot: #ff5858;
  --Grün: #efeeda;
  --Suche: #f3f3f3;

  /*abstände*/
  --ga-large: 2rem;
  --ga-medium: 1rem;
  --ga-small: 0.5rem;
  --grid-gap: 1.5rem;

  /*schriften*/
  --f-h1: 5.56rem/100% sans-serif;
  --f-h2: 3rem/100% sans-serif;
  --f-h3: 2rem/100% sans-serif;
  --f-GT: 0.85rem/100% sans-serif;
  --f-impressum: 0.75/100% sans-serif;
  --f-nav: 1.2rem/100% sans-serif;
  --f-input: 1.2rem/100% sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#home {
  background-color: var(--Grün);
  justify-items: center;
  align-content: center;
}

#h2Home {
  color: gray;
}

.suchleiste {
  display: flex;
  flex-direction: row;
  background-color: var(--weiss);
  border-radius: 15px;
  align-items: center;
  margin-top: var(--ga-large);
  padding: var(small);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  margin-bottom: var(--ga-large);
}

.landSuche {
  border: none;
  width: 18rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  margin: var(--ga-small);
  font-size: var(--f-input);
  padding-left: var(--ga-small);
  padding-right: var(--ga-small);
}

button {
  background-color: var(--Rot);
  color: var(--weiss);
  font: var(--f-nav);
  padding: 0 var(--ga-small) 0 var(--ga-small);
  margin-right: var(--ga-small);
  border-radius: 0.4rem;
  border: none;
  height: 2.2rem;
  width: auto;
  cursor: pointer;
}

#landSuche1 {
  background-color: var(--Suche);
}

#landSuche2 {
  background-color: var(--Navigation);
  margin-top: 0;
  box-shadow: none;
  margin-bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--Navigation);
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--ga-large);
    color: var(--weiss);
    list-style: none;
    font-size: 1.2rem;
    margin: var(--ga-small) var(--ga-large);
    align-items: center;
  }

  img {
    max-width: 306px;
    margin: var(--ga-small) var(--ga-large);
  }
}

a {
  text-decoration: none;
  color: var(--weiss);
}

.master {
  display: grid;
  max-width: 1512px;
  margin: 0 auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 0.6fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: 0px;
  grid-template-rows: auto clamp(220px, 25vw, 380px) auto;
}

.titel {
  grid-area: 1 / 1 / 2 / 12;
  justify-items: center;
  align-content: center;
  padding-top: calc(var(--ga-large));
  padding-bottom: calc(2 * var(--ga-medium));
}

.karte {
  grid-area: 2 / 1 / 3 / 5;
  padding-bottom: calc(2 * var(--ga-large));
  margin-left: var(--ga-large);
}

.auto {
  grid-area: 2 / 5 / 3 / 8;
  padding-bottom: calc(2 * var(--ga-large));
  .card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0;
    overflow: hidden;
    position: relative;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 1;
    }

    lottie-player {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 50%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }

    .linksverkehr {
      left: 0;
      right: auto;
    }

    p {
      background-color: var(--Navigation);
      color: var(--weiss);
      width: 100%;
      padding: var(--ga-small);
      border-radius: 0 0 15px 15px;
      text-align: center;
      position: absolute;
      z-index: 3;
    }
  }
}

.flagge {
  grid-area: 2 / 8 / 3 / 12;
  margin-right: var(--ga-large);
  padding-bottom: calc(2 * var(--ga-large));

  .card {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
    }
    .quad {
      width: auto;
    }
  }
}

.währung {
  grid-area: 3 / 1 / 4 / 6;
  width: calc(100% + var(--grid-gap));
  margin-left: var(--ga-large);
  padding-bottom: calc(2 * var(--ga-large));

  .card {
    display: flex;
    flex-direction: column;
  }

  .input-währung {
    border: none;
    width: 12rem;
    height: 2.2rem;
    border-radius: 0.25rem;
    margin-bottom: var(--ga-medium);
    margin-right: var(--ga-medium);
    font-size: var(--f-input);
    padding-left: var(--ga-small);
    padding-right: var(--ga-small);
  }

  .spacer {
    flex: 1;
  }
}

.infos {
  grid-area: 3 / 7 / 4 / 12;
  width: calc(var(--grid-gap) + 100%);
  margin-left: calc(var(--grid-gap) * -1);
  padding-bottom: calc(2 * var(--ga-large));

  .card {
    margin-right: var(--ga-large);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--ga-medium);
    list-style: none;

    li {
      display: flex;

      p {
        width: 8.5rem;
      }
    }
  }
}

.card-titel {
  padding-bottom: var(--ga-small);
}

.card {
  background-color: var(--Grün);
  border-radius: 15px;
  height: 100%;
  padding: var(--ga-medium);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  flex-direction: row;
  background-color: var(--Navigation);
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    margin: var(--ga-small) var(--ga-large);
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: row;
      gap: var(--ga-large);
      color: var(--weiss);
      list-style: none;
      margin: var(--ga-small) var(--ga-large);
      height: 56px;
    }
  }
}

.karte .card {
  aspect-ratio: 3 / 2;
  width: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

#map {
  height: 100%;
  width: 100%;
}

.auto .card,
.flagge .card,
.karte .card {
  height: 100%;
}

@media (max-width: 1280px) {
  :root {
    font-size: 19px;
  }

  .master {
    display: grid;
    /* max-width: 1512px; */
    margin: 0 auto;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 0.6fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: 0px;
    grid-template-rows: auto clamp(220px, 25vw, 380px) auto;
  }
}
