* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;

  /*farben*/
  --weiss: #ffffff;
  --Navigation: #434646;
  --Rot: #ff5858;
  --Grün: #efeeda;
  --Suche: #f3f3f3;

  /*abstände*/
  --ga-large: 2rem;
  --ga-medium: 1rem;
  --ga-small: 0.5rem;
  --grid-gap: 1.5rem;

  /*schriften*/
  --f-h1: 5.56rem/100% "Montserrat-Bold", sans-serif;
  --f-h2: 3rem/100% "Montserrat-SemiBold", sans-serif;
  --f-h3: 2rem/100% "Montserrat-Regular", sans-serif;
  --f-GT: 0.85rem/100% "Montserrat-Regular", sans-serif;
  --f-h4: 0.85rem/100% "Montserrat-Bold", sans-serif;
  --f-h5: 0.85rem/100% "Montserrat-Bold", sans-serif;
  --f-nav: 1.2rem/100% "Montserrat-Bold", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--Navigation);
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    gap: var(--ga-large);
    color: var(--weiss);
    list-style: none;
    font-size: 1.2rem;
    margin: var(--ga-small) var(--ga-large);
  }

  img {
    max-width: 306px;
    margin: var(--ga-small) var(--ga-large);
  }
}

a {
  text-decoration: none;
  color: var(--weiss);
}

.master {
  display: grid;
  max-width: 1512px;
  margin: 0 auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 0.6fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: 0px;
}

.titel {
  grid-area: 1 / 1 / 2 / 12;
  justify-items: center;
  align-content: center;
}

.karte {
  grid-area: 2 / 1 / 3 / 5;
  padding-bottom: var(--ga-large);
}

.auto {
  grid-area: 2 / 5 / 3 / 8;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0;

    p {
      background-color: var(--Navigation);
      color: var(--weiss);
      width: 100%;
      padding: var(--ga-small);
      border-radius: 0 0 15px 15px;
      text-align: center;
    }
  }
}

.flagge {
  grid-area: 2 / 8 / 3 / 12;

  .card {
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px;
    }
  }
}

.währung {
  grid-area: 3 / 1 / 4 / 6;
  width: calc(100% + var(--grid-gap));

  .card {
    display: flex;
    flex-direction: column;
  }

  .input-währung {
    border: none;
    width: 12rem;
    height: 2.2rem;
    border-radius: 0.25rem;
    margin-bottom: var(--ga-medium);
  }

  .spacer {
    flex: 1;
  }
}

.infos {
  grid-area: 3 / 7 / 4 / 12;
  width: calc(var(--grid-gap) + 100%);
  margin-left: calc(var(--grid-gap) * -1);

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--ga-small);
    list-style: none;
  }
}

.card-titel {
  padding-bottom: var(--ga-small);
}

.card {
  background-color: var(--Grün);
  height: 316px;
  border-radius: 15px;
  padding: var(--ga-medium);
}

footer {
  display: flex;
  flex-direction: row;
  background-color: var(--Navigation);
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    margin: var(--ga-small) var(--ga-large);
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      display: flex;
      flex-direction: row;
      gap: var(--ga-large);
      color: var(--weiss);
      list-style: none;
      margin: var(--ga-small) var(--ga-large);
      height: 56px;
    }
  }
}

#map {
  height: 316px;
  width: 100%;
  border-radius: 15px;
}
